<div id="login_box">
  <b>Forgot Password?</b><hr>
  Input your e-mail address to be sent a password reset: <br>
  <input type="text" name="Username"><br><br>
  <input type="submit" class="btn btn-primary disabled" value="Reset Password"/><br>
</div>