<table>
  <tr>
    <th>
      <a class="btn btn-primary" href="/training/TrainingCourses">Training/Courses</a>
    </th>
    <th>
      <a class="btn btn-primary" href="/training/CompletedTraining">My Completed Courses</a>
    </th>
  </tr>
</table>