#login_box {
  padding: 10px;
  border-style: solid;
  width: 200px;
  border-width: 1px;
}
body {
  background-color: white;
  margin: 80px 0px 0px 0px;
}
#fixedheader #greeting {
  float: right;
  padding: 20px;
}
#fixedheader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: white;
  padding: 10px;
}
#fixedheader a {
  font-size: 1.5em;
  color: black;
  padding: 20px;
}
#fixedheader a:hover {
  font-size: 1.5em;
  color: black;
  padding: 20px;
  background: #d8dbea;
}
#fixedfooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: white;
  background: #1d2528;
  padding: 8px;
}
#fixedfooter a:link {
  color: #d8dbea;
}
#fixedfooter a:visited {
  color: #d8dbea;
}
button.decorative {
  padding: 10px;
  background-color: #7e93fc;
  border-radius: 10px;
}
table,
th,
td {
  text-align: left;
}
.alert {
  border-style: solid;
  text-decoration: bold;
  width: 400px;
  padding: 10px;
}
.alert-success {
  border-color: greenyellow;
  text-decoration: green;
}
.alert-danger {
  border-color: red;
  text-decoration: #c90000;
}
.subheader {
  font-size: 1.5em;
  border-bottom: solid;
  width: 375px;
}
.pageheader {
  background: #73848b;
  background-position: center top;
  color: white;
  padding: 25px;
}
.question {
  padding: 15px;
}
.timelineObj {
  padding: 15px;
}
.inactiveLink {
  pointer-events: none;
  cursor: default;
  background: rgb(239, 240, 243);
}
.ratingScale {
  width: 400px;
}
.spacedButtons {
  margin-left: 100px;
}
.rightLogo {
  position: relative;
  float: right;
  padding: 10px;
}
